* {
    color: white;
    margin: 0;
    text-decoration: none;
    list-style: none;
    font-family: overpass;
}

body {
    background-image: url(/assets/img/sathish-kumar-graphic-composition-01.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;

}